// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Position
// + @Overflow
// + @Location
// + @Relative Width
// + @Height
// + @Squares
// + @Round
// + @SVG-sizes

// ---------------------------------------------------------
// @Position
// ---------------------------------------------------------
.p-fx { position : fixed !important; }

.p-ab { position : absolute !important; }

.p-rel { position : relative !important; }

// ---------------------------------------------------------
// @Overflow
// ---------------------------------------------------------
.of-ya { overflow-y: auto }
.of-xa { overflow-x: auto }

// ---------------------------------------------------------
// @Location
// ---------------------------------------------------------
.t-0 {top : 0;}

.t-100 { top: 100%; }

.r-0 {right : 0;}

.l-0 {left : 0;}

.b-0 {bottom : 0;}

.tl-0 { top : 0; left : 0; }

.tlb-0 { top : 0; left : 0; bottom : 0 }

.tr-0 { top : 0; right : 0; }

.trb-0 { top : 0; right : 0; bottom : 0 }

.tlrb-0 { top : 0; left : 0; right : 0; bottom : 0 }

// ---------------------------------------------------------
// @Relative Width
// ---------------------------------------------------------

.mw-90 { max-width : 90%;}

// ---------------------------------------------------------
// @Height
// ---------------------------------------------------------
.mnh-400px { min-height: 400px; }
.mxh-400px { max-height: 400px; }
.mxh-1000px { max-height: 1000px; }

// ---------------------------------------------------------
// @Squares
// ---------------------------------------------------------

.sq-50 {
  width  : 50px;
  height : 50px;
}

.sq-100 {
  width  : 100px;
  height : 100px;
}

.sq-300 {
  width  : 300px;
  height : 300px;
}

// ---------------------------------------------------------
// @Round
// ---------------------------------------------------------

.round {border-radius : 50%;}

// ---------------------------------------------------------
// @SVG-sizes
// ---------------------------------------------------------

.svg-1 { width : 1rem; height : 1rem;}

.svg-1\.25 { width : 1.25rem; height : 1.25rem;}

.svg-1\.5 { width : 1.5rem; height : 1.5rem;}