
// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Z-index master list

// ---------------------------------------------------------
// @Z-indexs
// ---------------------------------------------------------

.z-dropdown { z-index : $zindex-dropdown; } // 1000

.z-sticky { z-index : $zindex-sticky; } // 1020

.z-fixed { z-index : $zindex-fixed; } // 1030

.z-fixed-1 { z-index : $zindex-fixed + 1; } // 1030

.z-modal-backdrop { z-index : $zindex-modal-backdrop; } // 1040

.z-modal { z-index : $zindex-modal; } // 1050

.z-popover { z-index : $zindex-popover; } // 1060

.z-tooltip { z-index : $zindex-tooltip; } // 1070